{% extends 'base.html.twig' %}

{% block title %}Le PostController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>OK list article! </h1>

    {% for post in posts %}
        <li>{{ post.title }}</li>
    
            

    {% endfor %}

</div>
{% endblock %}