{% extends 'base.html.twig' %}

{% block title %}Le PostController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>OK list article! </h1>

    {% for post in posts %}
        <li>{{ post.title }}

        {% for tag in post.tags %}
        <a href="category/{{tag}}">{{tag}}</a>
        {% endfor %}

        </li>
    {% endfor %}

</div>
{% endblock %}